<%- include("head") -%>

  <div class="container-fluid">
    <div class="row greetingSection">
      <div class="col-lg-5 greetingText">
        <h1>Hello!</h1>
        <h1>I am Jiaying.</h1>
        <h2>A web developer.</h2>
      </div>
      <div class="col-lg-7 greetingPic">
        <img class="profilePic1" src="April.png" />
      </div>
    </div>
  </div>
  <section>
    <div class="middle-container">
      <div class="row">
        <div class="col-lg-12">
          <img class="middle-background img-fluid"src="Launch-day.png" alt="">
        </div>
      </div>
    </div>
  </section>


<%- include("footer") -%>
