</body>
<div class="bottom-container">
  <div class="links">
    <p class="contactText">
      If you love coding and eating pork, let's connect!
    </p>
    <img class="profilePic2 img-fluid" src="Profile.png" alt="" />
    <a class="contectBtn btn btn-secondary btn-md" href="mailto:Jiaying_He@outlook.com">CONTACT ME</a>
    <a class="footer-link" href="https://github.com/YangfanZhang">Github</a>
    <a class="footer-link" href="#"><i class="fab fa-linkedin fa-2x" style="color:purple"></i></a>
  </div>

  <p class="copy-right">© 2021 by Jiaying He with ✨</p>
</div>