</body>
<div class="bottom-container">
  <div class="links">
    <p class="contactText">
      If you love coding and eating pork, let's connect!
    </p>
    <a class="footer-link" href="mailto:Jiaying_He@outlook.com"><i class="fas fa-envelope-open-text fa-2x"></i></a>
    <a class="footer-link" href="https://github.com/Jiaying-e"><i class="fab fa-github-square fa-2x"></i></a>
    <a class="footer-link" href="https://www.linkedin.com/in/jiaying-he-64ba56169/"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
  <p class="copy-right">© 2021 by Jiaying He with ✨</p>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>