<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Jiaying's</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
      <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-custom">
      <ul class="navbar-nav mc-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/passion">Passion </a>
        </li> -->
      </ul>
    </nav>
  </header>