<%- include("head") -%>


  <body>
    <main class="projectsSection">
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h3><a class="featurette-heading" href="https://github.com/Jiaying-e/pod-request-access-landing-page">Pod request access landing page</a></h3>
            <p class="lead">Frontend Mentor can improve our front-end coding skills by building read projects whilst working to professional designs. We solve real-world HTML, CSS and JavaScript challenges.</p>
          </div>
          <div class="col-md-5">
            <img  src="images/Podrequest.png" width="640" height="359" alt="Generic placeholder image"> 
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h3><a class="featurette-heading" href="https://github.com/Jiaying-e/Drumkit">Drum Kit</a></h3>
              <p class="lead">Use keyboards or click on the images, we will make a new genre of music. Let’s play! It is an exercise from the Udemy course - <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">"The complete web development bootcamp"</a></p>
            </div>
            <div class="col-md-5 order-md-1">
              <iframe src="https://player.vimeo.com/video/504669033" width="640" height="359" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
  
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
                <h3><a class="featurette-heading" href="https://github.com/Jiaying-e/Python-Pong_Game">Pong Game</a></h3>
              <p class="lead">Pong is a table tennis. This game features tow paddles and a ball. Let's play with families and friends.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="images/Pong.gif" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3><a class="featurette-heading" href="https://github.com/Jiaying-e/Simon_Game">Simon Game </a></h3>
              <p class="lead">Simon is an electronic game of memory skill. The fun is in the challenge!! It is an exercise from the Udemy course - <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">"The complete web development bootcamp"</a></p>
            </div>
            <div class="col-md-5 order-md-1">
              <iframe src="https://player.vimeo.com/video/504999883" width="640" height="254" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>    
          </div>
  
          <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7">
                <h3><a class="featurette-heading" href="https://github.com/Jiaying-e/ToDoList">ToDoList</a></h3>
              <p class="lead">Online to-do list for today's workplace. It's fast to add and organize tasks and offers clean user interfaces - <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">"The complete web development bootcamp"</a></p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="images/ToDoList.gif" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div>









<%- include("footer") -%>